services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: product
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  product-service:
    build: ./services/product-services
    ports:
      - "3001:3001"
    environment:
      - DB_HOST=postgres
      - DB_NAME=product
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_PORT=5432
      - PORT=3001
    depends_on:
       postgres:
        condition: service_healthy
       