apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      initContainers:
        - name: wait-for-progress
          image: busybox:1.35
          command: ['sh', '-c']
          args:
          - |
            until nc -z postgres-service 5432; do
              echo "Wait for postgres-service..."
              sleep 2
            done
            echo "Postgres is ready!"
      containers:
      - name: product-service
        image: e-commerce-product-service:latest
        imagePullPolicy: Never
        ports: 
        - containerPort: 3001
        env:
        - name: DB_HOST
          value: postgres-service
        - name: DB_NAME
          value: product
        - name: DB_USER
          value: postgres
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: db-password
        - name: DB_PORT
          value: "5432"
        - name: PORT
          value: "3001"
        - name: NODE_ENV
          value: production

---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: ecommerce
spec:
  selector:
    app: product-service
  ports:
  - port: 3001
    targetPort: 3001
  type: ClusterIP

