name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: services/product-services/package-lock.json
        
      - name: Install Dependencies
        working-directory: services/product-services
        run: npm ci

      - run: docker compose -d

      - name: Run Tests
        run: npm test
        
      - name: Stop Services
        if: always()
        run: docker compose down


